<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

<head>
    <!-- <base target="_blank"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles.css">
<title>{% if page.title == "" %}{{ page.name }}{% else %}{{ page.title }}{% endif %}</title>
<script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>
{{ content }}
</body>

</html>
